:root {
  --primary-color: #63cf50;
  --white-color: #fff;
}
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Karla", sans-serif;
  background-color: #13161d;
}
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  display: block;
}
ol,
ul {
  list-style-type: none;
}

/* Header start here */
.navbar {
  position: sticky;
  top: 0;
  color: var(--color);
  background-color: #181818;
  padding: 22px 0;
  border-bottom: 1px solid #4a4a4ad6;
  z-index: 9999999;
}
.navbar-brand {
  color: var(--primary-color);
  font-size: 1.5em;
  font-weight: 700;
  padding: 0;
  margin: 0;
}
.navbar-brand:hover {
  color: var(--primary-color);
}
.navbar-brand:focus {
  color: var(--primary-color);
}
.navbar-nav .nav-link {
  color: var(--white-color);
  margin: 0 14px;
  padding: 0;
  text-transform: capitalize;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
.navbar-nav .nav-link:hover {
  color: var(--primary-color);
}
.navbar-nav .nav-link:focus {
  color: var(--primary-color);
}
/* Header end here */

/* Banner start here */
#banner {
  background: url("https://images.unsplash.com/photo-1500576992153-0271099def59?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aGVsbG98ZW58MHx8MHx8fDA%3D");
  width: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}
.banner-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.details {
  padding: 180px 0;
  color: var(--white-color);
  max-width: 50%;
}
.banner-img {
  width: 400px;
  height: 400px;
}

.banner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.details h5 {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
  color: var(--primary-color);
}
.details h1 {
  font-weight: 700;
  font-size: 68px;
  margin: 0;
}
.details h1 span {
  color: var(--primary-color);
}
/* Banner end here */

/* About start here */
#about {
  padding: 100px 0;
  color: var(--white-color);
}
.about-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-details {
  width: 50%;
}
.about-details h6 {
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 500;
}
.about-details h3 {
  font-weight: 700;
  font-size: 40px;
}
.about-details p {
  margin-top: 50px;
  padding: 0 42px;
  width: 550px;
  line-height: 33px;
  color: #aba3a3;
}
.about-img {
  width: 34%;
}
.about-img img {
  width: 100%;
  height: 100%;
}
/* About end here */

/* Skill start here */
#skill {
  padding: 50px 0 100px 0;
}
.skill-heading {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  color: #fff;
  margin-bottom: 60px;
}

.skill-heading h1 {
  font-size: 50px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 16px;
  color: var(--primary-color);
}

.skill-heading p {
  line-height: 30px;
  letter-spacing: 2px;
  font-size: 14px;
}
.skill-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.adobe {
  width: 50%;
}

.adobe img {
  width: 100%;
  height: 100%;
}

.skills-list {
  color: #fff;
  width: 42%;
}

.skills-list h3 {
  margin-bottom: 41px;
  font-size: 40px;
  font-weight: 600;
}
.skills-list h3 span {
  color: var(--primary-color);
}
.skills-list ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 95px;
  list-style: disc;
  margin: 0;
}

.skills-list ul li {
  margin-bottom: 14px;
  font-weight: 600;
  font-size: 16px;
  color: #ffffffc2;
}
/* Skill end here */

/* Experience start here */
#experience {
  color: white;
  padding: 70px 0;
}

.experience-header {
  text-align: center;
  margin: 0 auto;
  max-width: 500px;
  margin-bottom: 60px;
}

.experience-header h1 {
  color: var(--primary-color);
  text-transform: capitalize;
  margin: 0;
  padding: 16px 0;
  font-weight: 700;
  font-size: 50px;
}

.experience-header p {
  line-height: 30px;
  letter-spacing: 2px;
  font-size: 14px;
}

.experience-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.experience-details {
  border: 1px solid gray;
  border-radius: 5px;
  text-align: center;
  padding: 42px 32px;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
.experience-details h5 {
  font-weight: 600;
  font-size: 18px;
  color: #63cf50;
  margin: 0;
  padding: 15px 0 6px 0;
}

.experience-details span {
  padding-bottom: 12px;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  color: #bdbdbd;
}

.experience-details p {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 1px;
}
.experience-details:hover {
  background: #208d0d;
  color: #fff;
}
.experience-details:hover h5 {
  color: #fff;
}
/* Experience end here */

/* Testimonial start here */
#testimonial {
  padding: 70px 0 100px 0;
}
.testimonial-wrapper {
  display: flex;
  justify-content: space-between;
}
.testimonial-text {
  width: 43%;
}
.client-review {
  width: 40%;
}
.testimonial-text h4 {
  font-size: 44px;
  font-weight: 600;
  color: #fff;
}
.testimonial-text h4 span {
  color: var(--primary-color);
}
.client-review h6 {
  font-weight: 700;
  color: var(--white-color);
}
.client-review span {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 55px;
  color: #ddd;
  display: inline-block;
}
.client-review p {
  color: #ddd;
  letter-spacing: 1px;
  line-height: 26px;
  font-size: 15px;
}
/* Testimonial end here */
/* Banner start here */
/* Banner end here */
/* Footer start here */
#footer {
  background: url("https://images.unsplash.com/photo-1488509082528-cefbba5ad692?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8cGhvbmV8ZW58MHx8MHx8fDA%3D");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 90px 0;
  color: white;
}
.footer_left_content {
  width: 40%;
}

.footer_left_content h1 {
  font-weight: 700;
  margin-bottom: 30px;
}

.footer_left_content h2 {
  font-weight: 700;
  font-size: 29px;
  margin: 100px 0 22px 0;
}

.footer_right_content {
  width: 43%;
}

.footer_right_content h2 {
  font-weight: 600;
  margin-bottom: 44px;
}
:root {
  --primary-color: #63cf50;
  --white-color: #fff;
}
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Karla", sans-serif;
  background-color: #13161d;
}
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  display: block;
}
ol,
ul {
  list-style-type: none;
}

/* Header start here */
.navbar {
  position: sticky;
  top: 0;
  color: var(--color);
  background-color: #181818;
  padding: 22px 0;
  border-bottom: 1px solid #4a4a4ad6;
  z-index: 9999999;
}
.navbar-brand {
  color: var(--primary-color);
  font-size: 1.5em;
  font-weight: 700;
  padding: 0;
  margin: 0;
}
.navbar-brand:hover {
  color: var(--primary-color);
}
.navbar-brand:focus {
  color: var(--primary-color);
}
.navbar-nav .nav-link {
  color: var(--white-color);
  margin: 0 14px;
  padding: 0;
  text-transform: capitalize;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
.navbar-nav .nav-link:hover {
  color: var(--primary-color);
}
.navbar-nav .nav-link:focus {
  color: var(--primary-color);
}
/* Header end here */

/* Banner start here */
#banner {
  background: url("https://images.unsplash.com/photo-1500576992153-0271099def59?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aGVsbG98ZW58MHx8MHx8fDA%3D");
  width: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}
.details {
  padding: 180px 0;
  color: var(--white-color);
}
.details h5 {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
  color: var(--primary-color);
}
.details h1 {
  font-weight: 700;
  font-size: 68px;
  margin: 0;
}
.details h1 span {
  color: var(--primary-color);
}
/* Banner end here */

/* About start here */
#about {
  padding: 100px 0;
  color: var(--white-color);
}
.about-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-details {
  width: 50%;
}
.about-details h6 {
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 500;
}
.about-details h3 {
  font-weight: 700;
  font-size: 40px;
}
.about-details p {
  margin-top: 50px;
  padding: 0 42px;
  width: 550px;
  line-height: 33px;
  color: #aba3a3;
}
.about-img {
  width: 34%;
}
.about-img img {
  width: 100%;
  height: 100%;
}
/* About end here */

/* Skill start here */
#skill {
  padding: 50px 0 100px 0;
}
.skill-heading {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  color: #fff;
  margin-bottom: 60px;
}

.skill-heading h1 {
  font-size: 50px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 16px;
  color: var(--primary-color);
}

.skill-heading p {
  line-height: 30px;
  letter-spacing: 2px;
  font-size: 14px;
}
.skill-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.adobe {
  width: 50%;
}

.adobe img {
  width: 100%;
  height: 100%;
}

.skills-list {
  color: #fff;
  width: 42%;
}

.skills-list h3 {
  margin-bottom: 41px;
  font-size: 40px;
  font-weight: 600;
}
.skills-list h3 span {
  color: var(--primary-color);
}
.skills-list ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 95px;
  list-style: disc;
  margin: 0;
}

.skills-list ul li {
  margin-bottom: 14px;
  font-weight: 600;
  font-size: 16px;
  color: #ffffffc2;
}
/* Skill end here */

/* Experience start here */
#experience {
  color: white;
  padding: 70px 0;
}

.experience-header {
  text-align: center;
  margin: 0 auto;
  max-width: 500px;
  margin-bottom: 60px;
}

.experience-header h1 {
  color: var(--primary-color);
  text-transform: capitalize;
  margin: 0;
  padding: 16px 0;
  font-weight: 700;
  font-size: 50px;
}

.experience-header p {
  line-height: 30px;
  letter-spacing: 2px;
  font-size: 14px;
}

.experience-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.experience-details {
  border: 1px solid gray;
  border-radius: 5px;
  text-align: center;
  padding: 42px 32px;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
.experience-details h5 {
  font-weight: 600;
  font-size: 18px;
  color: #63cf50;
  margin: 0;
  padding: 15px 0 6px 0;
}

.experience-details span {
  padding-bottom: 12px;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  color: #bdbdbd;
}

.experience-details p {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 1px;
}
.experience-details:hover {
  background: #208d0d;
  color: #fff;
}
.experience-details:hover h5 {
  color: #fff;
}
/* Experience end here */

/* Testimonial start here */
#testimonial {
  padding: 70px 0 100px 0;
}
.testimonial-wrapper {
  display: flex;
  justify-content: space-between;
}
.testimonial-text {
  width: 43%;
}
.client-review {
  width: 40%;
}
.testimonial-text h4 {
  font-size: 44px;
  font-weight: 600;
  color: #fff;
}
.testimonial-text h4 span {
  color: var(--primary-color);
}
.client-review h6 {
  font-weight: 700;
  color: var(--white-color);
}
.client-review span {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 55px;
  color: #ddd;
  display: inline-block;
}
.client-review p {
  color: #ddd;
  letter-spacing: 1px;
  line-height: 26px;
  font-size: 15px;
}
/* Testimonial end here */
/* Banner start here */
/* Banner end here */
/* Footer start here */
#footer {
  background: url("https://images.unsplash.com/photo-1488509082528-cefbba5ad692?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8cGhvbmV8ZW58MHx8MHx8fDA%3D");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 90px 0;
  color: var(--white-color);
}
.footer_left_content {
  width: 40%;
}

.footer_left_content h1 {
  font-weight: 700;
  margin-bottom: 30px;
}

.footer_left_content h2 {
  font-weight: 700;
  font-size: 29px;
  margin: 100px 0 22px 0;
}
.footer_left_content a {
  color: white;
  display: inline-block;
}
.footer_right_content {
  width: 43%;
}
.form-input input,
.form-input textarea {
  width: 100%;
  border: 1px solid var(--primary-color);
  outline: none;
  background: transparent;
  padding: 8px 23px;
  border-radius: 25px;
  margin-bottom: 13px;
  color: var(--white-color);
  font-size: 15px;
}
button.contact-me {
  background: var(--primary-color);
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
}
button.contact-me a {
  color: #000;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
}
/* Footer end here */

/* Footer end here */
